div {
    text-align: center;
    margin-top: 350px;
}
button {
    height: 2em;
    width: 5em;
    border: none;
    transition: all 1s;
    border-radius: 2.5em;
    font-size: 30px;
}
.start-btn {
    background-color: rgb(6, 148, 6);
}
.pause-btn {
    background-color: rgb(202, 202, 0);
}
.stop-btn {
    background-color: rgb(209, 42, 42);
}
button:hover {
    cursor: pointer;
    background-color: white;
}
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
.background-image {
    background-image: url('image.jpg');
    background-size: 1925px 1100px;
}